/* SAME GRADIENT BG */
.page-bg {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    135deg,
    #8eee96 0%,
    #ffffff 40%,
    #fff3e0 70%,
    #edbe76 100%
  );
}

/* CARD */
.card {
  width: 380px;
  background: white;
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}

.card h2 {
  color: #2e7d32;
  margin-bottom: 25px;
}

.card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.card button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #ff9800, #ffb74d);
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

.back {
  margin-top: 15px;
  background: none;
  border: none;
  color: #2e7d32;
  font-weight: bold;
  cursor: pointer;
}
